{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>
    
    
    {% if is_granted('ROLE_LIBRARIAN') %}
        <div class="d-grid gap-2">
            <a href="{{ path('book_new') }}" class = "btn btn-large btn-outline-success">Create new</a>
        </div>
    {% endif %}


    <table class="table table-light table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Title</th>
                <th>Author</th>
                <th>Summary</th>
                <th>Genre</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Published_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                {# <td>{{ book.id }}</td> #}
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.summary }}</td>
                {% if book.genreId %}
                    <td>{{ book.genreId.name }}</td>   
                {% else %}
                    <td></td>
                {% endif %}
                {% if book.typeId %}
                    <td>{{ book.typeId.name }}</td>                
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ book.quantity }}</td>
                <td>{{ book.publishedDate ? book.publishedDate|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>

                    {% if book.quantity > 0 and app.user and (is_granted('ROLE_LIBRARIAN') == false) %}
                        <a href="{{ path('loan_newByUser', {'id': book.id}) }}">loan it !</a>                    
                    {% endif %}
                    {% if is_granted('ROLE_LIBRARIAN') %}
                        <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                        <a href="{{ path('book_delete', {'id': book.id}) }}">delete</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
