{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ book.summary }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ book.genreId.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ book.typeId.name }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ book.quantity }}</td>
            </tr>
            <tr>
                <th>Published_date</th>
                <td>{{ book.publishedDate ? book.publishedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('loan_newByUser', {'id': book.id}) }}">loan it !</a>
    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
