{% extends 'base.html.twig' %}

{% block title %}Loan index{% endblock %}

{% block body %}
    <h1>Loan index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Loan_date</th>
                <th>Return_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.id }}</td>
                <td>{{ loan.loanDate ? loan.loanDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loan.returnDate ? loan.returnDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('loan_show', {'id': loan.id}) }}">show</a>
                    {% if app.user and is_granted('ROLE_LIBRARIAN') %}
                        <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>
                        {# If the returnDate is not null then it show the return link #}
                        {% if not loan.returnDate %}
                            <a href="{{path('loan_return', {'id':loan.id}) }}">return</a>                        
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user and is_granted('ROLE_LIBRARIAN') %}
        <a href="{{ path('loan_new') }}">Create new</a>
    {% endif %}

{% endblock %}
