{% extends 'base.html.twig' %}

{% block title %}Loan index{% endblock %}

{% block body %}
    <h1>Loan index</h1>
    
    {% if is_granted("ROLE_LIBRARIAN") %}
        <div class="d-grid gap-2">
            <a href="{{ path('loan_new') }}" class = "btn btn-large btn-outline-success">Create new</a>
        </div>
    {% endif %}


    <table class="table table-light table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Loan_date</th>
                <th>Return_date</th>
                <th>User</th>
                <th>Book</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                {# <td>{{ loan.id }}</td> #}     
                <td>{{ loan.user.gender }} {{ loan.user.firstname}} {{ loan.user.lastname }}</td>
                <td>{{ loan.book.title }}</td>
                <td>{{ loan.loanDate ? loan.loanDate|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ loan.returnDate ? loan.returnDate|date('d-m-Y H:i:s') : '' }}</td>
           
                <td>
                    <a href="{{ path('loan_show', {'id': loan.id}) }}">show</a>
                    {% if app.user and is_granted('ROLE_LIBRARIAN') %}
                        <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>
                        {# If the returnDate is not null then it show the return link #}
                        {% if not loan.returnDate %}
                            <a href="{{path('loan_return', {'id':loan.id}) }}">return</a>                        
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
