{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <h1>Loan</h1>
    <a href="{{ path('loan_index') }}">back to list</a>

    <table class="table container-fluid">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ loan.id }}</td>
            </tr> #}
            <tr>
                <th>Loan_date</th>
                <td>{{ loan.loanDate ? loan.loanDate|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Return_date</th>
                <td>{{ loan.returnDate ? loan.returnDate|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ loan.user.gender }} {{ loan.user.firstname}} {{ loan.user.lastname }}</td>
            </tr>
            <tr>
                <th>Book</th>
                <td>{{ loan.book.title }}</td>
            </tr>
            
            
        </tbody>
    </table>

    {% if is_granted('ROLE_LIBRARIAN') %}
        <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>
        <a href="{{ path('loan_delete', {'id': loan.id}) }}">delete</a>
    {% endif %}
 
{% endblock %}
